{% extends 'home/layout.html' %}
{% load static %}
  {% block css %}
    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'home/app.css' %}">
	<link rel="stylesheet" href="{% static 'home/info.css' %}">
<title>Donor Form</title>

  {% endblock %}

{%  block body  %}

{% if receiving == True %}
<div class="cardContainer" style="min-height:80vh;width:1100px;display:grid;align-items:center;margin:auto;justify-content:center">
		<form action="{% url 'receiverinfo' %}" method="POST">
				{% csrf_token %}
<div class="input-group">
  <div class="input-group-prepend">
  </div>
  <input type="text" placeholder="Region or City" aria-label="Region/City" class="form-control" name="region" required="true">
   <select class="custom-select" id="inputGroupSelect01" name="bloodgroup" required="true">
    <option selected>Bloodgroup</option>
    <option value="A+">A+</option>
    <option value="A-">A-</option>
    <option value="B+">B+</option>
    <option value="B-">B-</option>
    <option value="AB+">AB+</option> <option value="AB-">AB-</option> <option value="O+">O+</option> <option value="O-">O-</option>
  </select>
  <input type="submit" class="btn btn-success" value="Search">
</div>
</form>
{% for receiver  in Receivers %}
<div class="card text-center" style="width: 30rem;margin:1em">
  <div class="card-body">
		  <h4 class="card-title">{{receiver.receiverName}}</h4>
		  <p class="card-text" style="font-weight:Bolder;color:#0069D9">Address :</p>
		  <p class="card-text">{{receiver.receiverAddress}}</p>
		  <p class="card-text" style="font-weight:Bolder;color:#0069D9">Blood Group :</p>
		  <p class="card-text">{{receiver.receiverBloodgroup}}</p>
		  <p class="card-text" style="font-weight:Bolder;color:#0069D9">City  :</p>
		  <p class="card-text">{{receiver.receiverCity}}</p>
		  <a href="{{receiver.get_absolute_url}}" class="btn btn-success">Contact</a>
  </div>
</div>
{% endfor %}
{% else %}

{% if method == 'post' %}
<div class="modal-container">
		<div class="post-popup"> 
				{% if mailnotmatched == True %}
				<div class="close-btn" id="close-modal">
						+
				</div>
				<img src="{% static 'home/wrong.svg'%}" alt="" width="150px" height="150px">
				<div class="message-alert">{{message}}<br>
				<a href="{% url 'rregister' %}">Regsiter</a>
				</div>
				{% else %}
				<div class="close-btn" id="close-modal">
						+
				</div>
				<img src="{% static 'home/checked.svg'%}" alt="" width="200px" height="200px">
				<div class="message-sent">
						{{message}}
				</div>
				{% endif %}

		</div>
</div>
{% endif %}
<div class="popup-container" id="popup-container">
		<div class="popup">
				<div class="close-btn" id="close-btn">
						+
				</div>
				<p>Your Email</p>
				
				<form action="{% url 'donorcontact' %}" method="POST">				
						{% csrf_token %}
						<div class="input-container">
				<input type="text" placeholder="Email" name="email">
				<input type="text" style="display:none" name="pk" id="donor-num" >
				<input type="submit" class="btn btn-primary" value="contact">
				</div>
				</form>

		</div>
</div>
<div class="cardContainer" style="min-height:80vh;width:1100px;display:grid;align-items:center;margin:auto;justify-content:center">
		<form action="{% url 'donorinfo' %}" method="POST"> {% csrf_token %}
<div class="input-group">
  <div class="input-group-prepend">
  </div>
  <input type="text" placeholder="Region or City" aria-label="Region/City" class="form-control" name="region" required="true">
   <select class="custom-select" id="inputGroupSelect01" name="bloodgroup" required="true">
    <option selected>Bloodgroup</option>
    <option value="A+">A+</option>
    <option value="A-">A-</option>
    <option value="B+">B+</option>
    <option value="B-">B-</option>
    <option value="AB+">AB+</option>
    <option value="AB-">AB-</option>
    <option value="O+">O+</option>
    <option value="O-">O-</option>
  </select>
  <input type="submit" class="btn btn-success" value="Search">
</div>
</form>
{% for donor in Donors%}
<div class="card text-center" style="width: 30rem;margin:1em">
  <div class="card-body">
		  <h4 class="card-title">{{donor.donorName}}</h4>
		  <p class="card-text" style="font-weight:Bolder;color:#0069D9">Address :</p>
		  <p class="card-text">{{donor.donorAddress}}</p>
		  <p class="card-text" style="font-weight:Bolder;color:#0069D9">Blood Group :</p>
		  <p class="card-text">{{donor.donorBloodgroup}}</p>
		  <p class="card-text" style="font-weight:Bolder;color:#0069D9">City  :</p>
		  <p class="card-text">{{donor.donorCity}}</p>

		  <div  class="btn btn-success" id="donor-contact" data-pk="{{donor.pk}}">Contact</div>
  </div>
</div>
{% endfor %}
<script src="{% static 'home/info.js' %}"></script>
{% endif %}
</div>
{% endblock %}

